html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mapboxgl-marker {
  margin-left: -115px;
  border-radius: 50% 50% 50% 0;
  border: 10px solid #1f1b1bcc;
  width: 25px;
  height: 25px;
  /* transform: rotate(-45deg); */
}